<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SCHOOLREMINDERR">

        <!-- 🔥 Splash jadi launcher -->
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- 🔥 Login -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"/>

        <!-- 🔥 Register -->
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"/>

        <!-- 🔥 Main -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <!-- 🔥 Home -->
        <activity
            android:name=".activity.HomeStudentActivity"
            android:exported="false"/>

    </application>

</manifest>